.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  text-align: center;
}
h3 {
  float: left;
}
.custom-form-container {
  gap: 20px; 
  padding: 100px;
  margin: 20px;
}
.custom-button {
  float: left;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; 
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 100px;
  margin: 20px;
}
.form-container {
  padding-left: 100px;
  padding-top: 5px;
  padding-right: 100px;
  margin: 20px;
}
h5 {
  float: left;
}
h4 {
  text-align: center;
  padding: 50px;
}
.card-container-addtodo {
  gap: 20px; 
  padding: 100px;
  margin: 20px;
}
.title-description-group {
  margin-bottom: 20px; 
}
.button-add {
  margin-top: 15px; 
}
.button-home {
  float: right;
  margin-top: 100px;
}
.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
}
.custom-login {
  margin-bottom: 20px; 
}
.form-username,
.form-password {
  margin-bottom: 10px; 
}
.button-login {
  margin-top: 5px; 
}
.label-register {
    margin-top: 10px; 
}
.button-logout {
  float: right;
  margin: 120px;
}